body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
}
.header {
    background-color: #1c1c1c;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #7df7a8;
    box-sizing: border-box;
}
.artigo a {
    color: #7df7a8;
    text-decoration: none;
}
.header img {
    height: 50px;
}
.header button {
    background-color: #7df7a8;
    border: none;
    color: #1c1c1c;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}
.header button.login {
    background-color: transparent;
    border: 2px solid #7df7a8;
    color: #7df7a8;
}
.header button.create-account {
    background-color: #7df7a8;
    color: #1c1c1c;
}
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 80px; /* Adiciona espaço abaixo do cabeçalho fixo */
    box-sizing: border-box;
}

.carousel-container h1, h2, h3, h4 {
   color: #7df7a8 ;
}


.carousel {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    box-sizing: border-box;
}
.carousel img {
    border-radius: 10px;
    width: 100%;
    max-width: 345px; /* Largura máxima das imagens do carrossel */
    height: auto; /* Mantém a proporção da altura baseada na largura */
    max-height: 465px; /* Altura máxima das imagens do carrossel */
    object-fit: cover;
    margin-right: 20px;
}
.expandable-content {
    display: none;
    background-color: #1c1c1c;
    padding: 20px;
    box-sizing: border-box;
    max-width: 100%;
}
.expandable-content h2 {
    color: #7df7a8;
    text-align: center;
    margin-bottom: 20px;
}
.expandable-content .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.expandable-content img {
    width: calc(25% - 10px); /* 4 imagens por linha com espaço */
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.show-more {
    color: #7df7a8;
    cursor: pointer;
    text-align: center;
    margin: 20px;
}
.show-more:hover {
    text-decoration: underline;
}

.a {
    color: #7df7a8;
}

.show-more1 {
    color: #7df7a8;
    cursor: pointer;
    text-align: center;
    margin: 20px;
}
.show-more1:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .header {
        padding: 10px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .header img {
        height: 40px;
    }
    .header button {
        font-size: 14px;
        padding: 8px 16px;
        margin-left: 10px;
    }
    .carousel img {
        max-width: 200px;
        max-height: 265px;
        margin-right: 10px;
    }
    .expandable-content img {
        width: calc(33.33% - 10px); /* 3 imagens por linha em tablets */
    }
}
@media (max-width: 480px) {
    .header {
        padding: 5px;
    }
    .header img {
        height: 30px;
    }
    .header button {
        font-size: 16px;
        padding: 6px 12px;
        margin-left: 5px;
    }
    .carousel img {
        max-width: 140px;
        max-height: 200px;
        margin-right: 5px
        
    }
        
  .carousel picture {
        max-width: 140px;
        max-height: 200px;
        margin-right: 5px;
    }
    .expandable-content img {
        width: calc(50% - 10px); /* 2 imagens por linha em celulares */
    }
    .show-more {
        margin: 10px;
    }
}


.table-container {
    max-height: 400px; /* Altura máxima desejada para o contêiner */
    overflow-y: auto;  /* Adiciona barra de rolagem vertical se o conteúdo exceder a altura */
    overflow-x: auto;  /* Adiciona a barra de rolagem horizontal, se necessário */
}

table {
    width: 100%;       /* Faz a tabela ocupar a largura total do contêiner */
    border-collapse: collapse; /* Colapsa as bordas da tabela para um visual mais limpo */
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd; /* Adiciona uma borda à tabela */
}

